<h1>Bookstore Get Books (Proxy)</h1>
<form method="get" action="store">
  <div>
    <label for="sln1">SLN:</label>
    <input id="sln1" name="sln1" size="20" type="text" value="{{search.sln1}}">
  </div>
  <div>
    <label for="quarter">Quarter:</label>
    <select id="quarter" name="quarter" maxlength="6">
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="autumn">Autumn</option>
            <option value="winter">Winter</option>
    </select>
  </div>
  <div>
    <input value="Submit" type="submit">
  </div>
</form>
