<h1>MyPlan (Proxy)</h1>
<form method="get" action="search">
  <div>
    <label for="uwregid">UW RegID:</label>
    <input id="uwregid" name="uwregid"
        value="{{search.uwregid}}" size="40" type="text">
  </div>
  <div>
    <label for="year">year:</label>
    <input id="year" name="year"
      value="{{search.year}}" type="number" maxlength="4">
  </div>
  <div>
    <label for="quarter">quarter:</label>
    <select id="quarter" name="quarter" maxlength="6">
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="autumn">Autumn</option>
            <option value="winter">Winter</option>
    </select>
  </div>
  <div>
    <input value="Submit" type="submit">
  </div>
</form>
